{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">

        {% for book in books %} 
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='uploads/images/' + book['cover'])}}" class="card-img-top" alt="{{book[1]}}">
            <div class="card-body">
              <h5 class="card-title">{{book['title']}}</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        {% endfor %}
    
    </div>
</div>

{% endblock %}