{% extends 'Admin/admin_base.html' %}

{% block admin %}
<!-- Page content -->
<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- start form  -->
                <form method="post" enctype="multipart/form-data">
                    <th>
                        <input type="text" name="title" class="form-control" placeholder="Title">
                    </th>
                    <th>
                        <input type="text" name="author" class="form-control" placeholder="Author">
                    </th>
                    <th>
                        <input type="text" name="description" class="form-control" placeholder="Description">
                    </th>
                    <th >
                        <input class="form-control form" name="cover" id="formFile" type="file">
                    </th>
                    <th>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </th>
                </form>
                <!-- end form  -->
            </tr>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Cover</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for book in book_data %}
            <tr>
                <th scope="row">{{ book[0] }}</th>
                <td> <img src="{{url_for('static', filename='uploads/images/' + book['cover'])}}" alt="{{book[1]}}"></td>
                <td>{{ book[2] }}</td>
                <td> {{ book[3] }} </td>
                <td>
                    <a href="{{url_for('view.update_book', id=book[0])}}" class="btn btn-secondary">Edit</a>
                    <a href="{{url_for('view.delete_book', id=book[0])}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
{% endblock %}