{% extends 'Admin/admin_base.html' %}

{% block admin %}
<!-- Page content -->
<div class="content">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">First_name</th>
            </tr>
        </thead>
        <tbody>
            {% for User in users_data %}
            <tr>
                <th scope="row">{{ User.id }}</th>
                <td>{{ User.email }} </td>
                <td>{{ User.password }}</td>
                <td>{{ User.first_name }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 
{% endblock %}