{% extends 'base.html' %}

{% block nav %}
<form class="d-flex" role="search" method="post">
  <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
{% endblock %}


{% block content %}
<style>
  .card a:hover{
    opacity: .8;
  }
</style>
<br>
<div class="container">
  <div>
    <div class="row">

        {% for book in books %} 
        <div class="card m-3 " style="width: 18rem;">
          <a href="{{url_for('view.book', id=book['id'])}}" target="_blank">
            <img src="{{url_for('static', filename='uploads/images/' + book['cover'])}}" class="card-img-top" alt="{{book[1]}}">
          </a>
        </div>
        {% endfor %}
        <br>
    </div>
  </div>
</div>

{% endblock %}